body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.mycontent{
    margin: 0 auto;
    width: 760px;
}

.mycontentindex{
    margin: 0 auto;
    width: 760px;
}
.mycontent p{
    margin: 2em;
}

.topimg{
    width: 100%;
    background-color: #2a6495;
    margin: 0;
    padding: 0;
}

.navbar {
    list-style-type: none;
    background-color: rgb(190, 190, 190);
    height: 50px;
    margin: 0; 
    padding: 0;
    display: flex;
    align-items: center;
}

.button {
    display: flex;
    align-items: center;
    background-color: rgb(190, 190, 190);
    padding: 15px 30px;
    margin-right: 5px;
    border: 1px solid black; 
    height: 5px;
}

.button a {
    text-decoration: none;
    color: black;
    font-size: small;
}

.button:hover {
    background-color: #8f8f90;
    border: 1px solid #000;
}

.button:hover a{
 color: white;
}

.brainimg img{
    width: 1000px;
    display: block;
    margin: 0 auto;
}
